<section>
  <div class="page-header">
    <div>
      <h1>TEV Monitor</h1>
    </div>
  </div>
    <div class="container">
      <div class="col-sm-4">
      <form>
         Tickers:<br><input type="text" name="Tickers" ng-model ="ticker"> <br>
          Shares:<br><input type="number" name="Shares" ng-model = "shares"> 
      </form>
      <p>
          <form>  
          Start Date: <br><input type="text" name="startDate" ng-model = "startDate"> <br>
           End Date: <br><input type="text" name="endDate" ng-model ="endDate">
          </form>
      </p>
      <p>
      Implied Vol: <br><input type="number" name="impliedVol" ng-model ="impliedVol">
      </p>
      <p>
          <button class="btn" ng-click = "add_portfolio_components()">Add to portfolio</button>
      </p>
      <p>
          <button class="btn" ng-click="portfolioValue()"> Portfolio Value </button>
          <button class="btn" ng-click = "cumulatedReturns(portfolio_Value)"> Cummulated Return</button>
      </p>
    </div>
     <div class="col-sm-8">
       <canvas id="myChart"></canvas>
     </div>
  </div>
</section>
<section>
  
</section>



